.pos {
    margin-bottom: 5rem;
    
}

.title {
    font-size: 2.4rem;
    font-weight: 500;
}

.text {
    font-size: 1.8rem;
    width: 60rem;
    margin-bottom: 1rem;
}


.button_fitbit {
    background-color: #00B0B9;
    border: solid .3rem #00494D;
    padding: .5rem 3rem;
    border-radius: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fitbit_logo {
    height: 3rem;
}



.button {
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    border: .3rem solid black;
    padding: 1rem 5rem;
    border-radius: 5rem;
    text-align: center;
    margin-top: 1rem;
}