.button_wrapper{
    display: flex;
    flex-flow: row;
    width: 70vw;
    justify-content: space-between;
    margin: 0 auto;
}

.button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    border: .3rem solid black;
    padding: 1rem 5rem;
    border-radius: 5rem;
    text-align: center;
}

.button:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: .3rem solid #FFBD3A;
}

.uitleg {
    font-size: 2.4rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.uitleg_nadruk {
    font-weight: 500;
}


.title {
    font-size: 5rem;
    text-align: center;
}

.animatie {
    width: 30vw;
}

.inloggen {
    height: 35vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;;
}
