.nav_wrapper {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
}


.midden {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 10rem;
    display: flex;
    /* flex-direction: row; */
    justify-items: flex-start;
    align-items: center;
    z-index: 1;
}

.reis_title {
    display: flex;
    flex-flow: column;
    /* position: absolute; */
    top: 0;
    /* justify-self: center; */
    margin: auto;
}

.bestemming_naam {
    background: #FFBD3A;
    box-shadow: 12px 8px 6px rgba(0, 0, 0, 0.1);    
    width: fit-content;
    margin: auto;
    font-weight: 500;
    font-size: 4.5rem;
    text-align: center;
    padding: .5rem 1rem;
    min-width: 15rem;
}
.img_activiteit {
    width: 100vw;
    height: auto;
    margin-top: 3rem;
}

.oma_ballon {
    position: absolute;
    top: 15rem;
    left: 7rem;
}

.oma_img {
    margin-left: -32rem;
}

.oma_box {
    background-color: white;
    border: solid .3rem black;
    padding: 2rem;
    width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7rem;
    margin-left: 4rem;
}

.oma_title {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 1rem;
    text-align: center;
    width: 25rem;
}

.oma_text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    width: 30rem;
}

.button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-align: center;
}

.background_img{
    position: absolute;
    bottom: 0;
}