.fontsize {
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    margin-top: -2rem;
    }

.fontsize_position input {
    opacity: 0;
}

.input_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

input[type="radio"]:checked +label {
    border: solid .3rem #FFBD3A;
    border-radius: 20%;
}

.title {
    font-size: 5rem;
    width: 60vw;
    text-align: center;
    font-weight: 500;
}

.fontsize_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.fontsize_text {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
}

.small {    
    font-size: 1.8rem;
}
.medium {
    font-size: 2rem;
}
.big {
    font-size: 2.2rem;
}

.button_wrapper{
    display: flex;
    flex-flow: row;
    max-width: 76rem;
    width: 80vw;
    justify-content: space-between;
    margin: 0 auto;
}

.button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    border: .3rem solid black;
    padding: 1rem 5rem;
    border-radius: 5rem;
    text-align: center;
}

.button_sec {
    background-color: #FFF1E3;
    color: black;
    font-size: 2.4rem;
    border: .3rem solid black;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
    padding: 1rem 7.5rem;
    border-radius: 5rem;
    text-align: center;
}

