.nav_tekst {
    font-size: 1.8rem;
    margin-top: .7rem;
    margin-left: 2rem;
}

.back {
    top: 0;
    position: absolute;
    left: 22rem;
    margin-top: 4.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


.nav_button {
    background-color: black;
    border-radius: 40px;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-image: url("../../../assets/img/terug.svg");
    border: none;

}



  