.profiel_title {
    font-size: 2.4rem;
    font-weight: 500;
}

.profiel_text {
    font-size: 1.8rem;
    width: 60rem;
    margin-bottom: 1rem;
}

.beweging_wrapper {
    margin-top: 5rem;
}

.profiel_name_input {
    border: solid .3rem #FFBD3A;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 3rem;
}

.bewegen_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw; 
}

.bewegen_position input {
    opacity: 0;
} 

.bewegen_text {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
    text-align: center;
}

.bewegen_label {
    line-height: 1.2;
    font-size: 2rem;

}

.bewegen_img {
width: 15rem;
margin-top: -10rem;
}