@media screen and (min-width: 1024px) {
    .nav_wrapper {
        max-width: 10rem;
    }

    .stad_background {
        max-width: 60vw;
    }
}

.nav_wrapper {
    display: flex;
    max-width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.oma {
    left: 10%;
    position: absolute;
    bottom: 16%;
    z-index: 50;
}

.progressbar {
    background-color: #ffedc6;
    height: 1.5rem;
    width: 320vw;
    position: absolute;
    bottom: 12rem;
    border-radius: 2rem;
    margin-left: 15rem;
    margin-top: -5rem;
}

.reis_title {
    display: flex;
    flex-flow: column;
    right: 40%;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
}

.scroll_pos{
    right: 49%;
    position: absolute;
    top: 25%;
    opacity: 0;
    z-index: 50;
    animation: weg 4s 1;
}

@keyframes weg {
  0% {opacity: 0;}
  1% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

.bestemming_naam {
    background: #FFBD3A;
    box-shadow: 12px 8px 6px rgba(0, 0, 0, 0.1);    
    width: 22rem;
    height: 6rem;
    margin: auto;
    font-weight: 500;
    font-size: 4.5rem;
    text-align: center;
    padding: .5rem;
}

.wrapper_steden {
    height: 85vh;
    display: flex;
    flex-flow: column;
    overflow: scroll;
    width: 100vw;
    position: absolute;
}

.wrapper_top{
    height: 65vh;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

.tekst_wrapper{
    margin-bottom: -10rem;
    display: flex;
    flex-flow: column;
}

.width_start {
    min-width: 17vw;
}

.width_stad {
    min-width: 90vw;
    z-index: 1;
}


.stad_background{
    width: 80vw;
}

.stad_img {
    border-bottom: .1rem solid black;
    width: 90vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.stad{
    width: 90vw;
}

.start {
    margin-left: 4rem;
    border-bottom: .1rem solid black;
    width: 20vw;
}

.finish {
    margin-right: 2rem;
    border-bottom: .1rem solid black;
    padding-right: 6rem;
}

/* .progressbar {
    background-color: black;
    height: 2rem;
    position: absolute;
    bottom: 2rem;
} */

.wrapper_bottom {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    height: 10vh;
    margin-top: 2rem;
}

.button_stad {
    margin: 0rem 4rem;
    width: 80vw;
}

.button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-align: center;
    width: 30rem;
}

.wrapper_buttons {
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.progess_wrapper {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    height: 15vh;
}

.width_progress_start {
    min-width: 50vw;
}

.steps_wrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.stadName {
    font-size: 4.4rem;
    font-weight: 500;
}

.steps {
    font-size: 2.4rem;
}
