.help_order{
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
}

.terug{
    position: absolute;
    top: 20%;
    left: 2%;
    z-index: 100;
}

.rugzak{
    position: absolute;
    z-index: 100;
    top: 2%;
    left: 22%;
}

.stappen{
    position: absolute;
    z-index: 100;
    top: 25%;
    right: 2%;
}

.stad{
    position: absolute;
    z-index: 200;
    bottom: 1%;
    left: 10%;
}

.help{
    position: absolute;
    z-index: 100;
    bottom: 15%;   
    right: 2%;
}


