.center {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .nav_wrapper {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
  }
  
  .order {
    z-index: 2;
  }
  
  .midden {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 10rem;
    display: flex;
    /* flex-direction: row; */
    justify-items: flex-start;
    align-items: center;
    z-index: 1;
  }
  
  .reis_title {
    display: flex;
    flex-flow: column;
    /* position: absolute; */
    top: 0;
    /* justify-self: center; */
    margin: auto;
  }
  
  .bestemming_naam {
    background: #ffbd3a;
    box-shadow: 12px 8px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: auto;
    font-weight: 600;
    font-size: 4.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    min-width: 15rem;
  }
  
  .kaart {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .activiteiten {
    display: flex;
    flex-direction: row;
    z-index: 2;
    margin-top: 10rem;
  }
  
  .activiteit {
    background-color: white;
    width: 24rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    z-index: 2;
  }
  
  .activiteit_title {
    background-color: #ffbd3a;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1rem;
    width: fit-content;
    margin-top: -2rem;
  }
  
  .activiteit_text {
    font-size: 1.8rem;
    margin: 1rem;
  }
  
  .text_but_pos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
  }
  
  .pos {
    display: flex;
    flex-direction: row;
    width: 24rem;
    padding: 0.1rem 1rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img_act {
    width: 24rem;
    height: auto;
  }
  
  .steps_aantal {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .button {
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 2.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border: 0.3rem solid black;
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-align: center;
    line-height: 1;
  }
  
  .button:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: .3rem solid #FFBD3A;
}