.button_wrapper{
    display: flex;
    flex-flow: row;
    width: 65vw;
    justify-content: space-between;
    margin: 0 auto;
}

.button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    border: .3rem solid black;
    padding: 1rem 5.5rem;
    border-radius: 5rem;
    text-align: center;
}

.button_sec {
    background-color: #FFF1E3;
    color: black;
    font-size: 2.4rem;
    border: .3rem solid black;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);    
    padding: 1rem 4.5rem;
    border-radius: 5rem;
    text-align: center;
}

.section_header {
    display: flex; 
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 500;
}

.uitleg {
    font-size: 2.4rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.uitleg_nadruk {
    font-weight: 500;
    font-size: 2.4rem;
}

.vraag {
    font-weight: 500;
    font-size: 2.4rem;
}

.animatie_circle {
    margin: 0 auto;
}

.section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    margin-top: -4rem;
}

.icon::before {
    content: url("../../assets/img/stappenIcon.svg");
}

