.button {
    padding: .5rem 1rem;
    background-color: #ffbd3a;
    font-size: 2.4rem;
}

.button:hover {
    background-color: white;
    color: #ffbd3a;
    border: .2rem solid #ffbd3a;
    font-size: 2.4rem;
}