    .bewegen {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

.bewegen_text {
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
    text-align: center;
    }

.input_bewegen:checked + .bewegen_text {
    border: solid .3rem #FFBD3A;    
}

    .input_bewegen{
        opacity: 0;
    }

    .title {
        font-size: 5rem;
        width: 90vw;
        text-align: center;
        font-weight: 500;
    }
    
    .bewegen_position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90vw; 
    }
    
    .bewegen_label {
        line-height: 1.2;
        font-size: 2rem;

    }
    
    .bewegen_img {
        margin-top: -7rem;
        margin-bottom: 1rem;
    }
    
    .button_wrapper{
    display: flex;
    flex-flow: row;
    max-width: 76rem;
    width: 80vw;
    justify-content: space-between;
    margin: 0 auto;
    }
    
    .button{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    padding: 1rem 7rem;
    border-radius: 5rem;
    text-align: center;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
    }
    
    .button_sec {
    padding: 1rem 7.5rem;
    background-color: #FFF1E3;
    color: black;
    font-size: 2.4rem;
    border: .3rem solid black;
    border-radius: 5rem;
    text-align: center;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25)
    }