@import "./styles/reset.css";

body {
  margin: 0;
  font-family: "Geomanist", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face{
  font-family: "Geomanist"; 
  src: url("./assets/fonts/Geomanist-Light.woff2") format("woff2");
  font-weight: 200; 
  font-style: normal;
} */

@font-face{
  font-family: "Geomanist"; 
  src: url("/assets/fonts/regular/Geomanist-Regular.woff2") format("woff2"),
       url("/assets/fonts/regular/Geomanist-Regular.woff") format("woff");
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Geomanist"; 
  src: url("/assets/fonts/book/Geomanist-Book.woff2") format("woff2"),
       url("/assets/fonts/book/Geomanist-Book.woff") format("woff");
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Geomanist"; 
  src: url("/assets/fonts/medium/Geomanist-Medium.woff2") format("woff2"),
      url("/assets/fonts/medium/Geomanist-Medium.woff2") format("woff2");
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Geomanist"; 
  src: url("/assets/fonts/bold/Geomanist-Bold.woff2") format("woff2"),
      url("/assets/fonts/bold/Geomanist-Bold.woff2") format("woff2");
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */


a {
  text-decoration: none;
}

header {
  margin-top: 2rem;
}

#root {
  height: 100vh;
  background-image: linear-gradient(#FFFFFF, #FFEFDF);
}

.mobile {
  display: none;
  }

  .mobile_image {
  display: none;
  z-index: 3;
  }
  
  
  @media only screen and (max-width: 800px) {
    #root {
    display: none;
  }

    body {
  background-color: #FFEFDF;
  }
  
    .mobile {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: block;
  }
  
    .mobile_image {
  width: 100vw;
  height: auto;
  display: block;
}
}

