.message {
  align-self: center;
  justify-self: center;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 4rem;
}

.container {
  position: absolute;
    top: 0;
    right: 0;
    margin: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 500;
    z-index: 5;
}

.bol {
  background: #539882;
  box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30rem;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.stappen {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 3.6rem;
  color: #ffbd3a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
