.message {
  align-self: center;
  justify-self: center;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
